.map-page-wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  .map-container {
    width: 100%;
    height: 100%;
    background: url("https://ut-static.udache.com/webx/mini-pics/MgTRjEqHHyTE72sNd-UXV.png");

    .my-gmap {
      width: 100%;
      height: 100%;
    }
  }

  // 全屏时顶部背景
  .map-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("https://ut-static.udache.com/webx/mini-pics/MgTRjEqHHyTE72sNd-UXV.png") no-repeat top center;
    background-size: cover;
    background-color: rgba(243, 243, 243, 1);
    transition: all .5s ease;
  }

  .panel-header {
    height: 100rpx;
    padding: 20rpx;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;

    &-tab-pane {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20rpx;

      &-item {
        height: fit-content;
        padding: 10rpx 18rpx;
        box-sizing: border-box;
        border-radius: 20rpx;
        background: #fff;
        border: 2rpx solid #A8F8F7;
        font-size: 24rpx;
        display: flex;
        align-items: center;

        &-icon {
          width: fit-content;
          height: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 6rpx;
        }
      }

      .active {
        background: #A8F8F7;
        border: 2rpx solid #41C9A9;
        color: #41C9A9;
        font-weight: bold;
      }
    }
  }

}